# Supabase
SUPABASE_URL=https://qkvhxiwumgfwozxkjucm.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrdmh4aXd1bWdmd296eGtqdWNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjE2MTE0OCwiZXhwIjoyMDkxNzM3MTQ4fQ.ZKMyY_Xgz-W8V9XOM9PdTIHTjlTt_6V32ReQPQRFpFU

# Cloudinary
CLOUDINARY_CLOUD_NAME=dz58wa67p
CLOUDINARY_API_KEY=954523971818627
CLOUDINARY_API_SECRET=F0v35xmKPD-I7j412U_R6eBVZOQ

# Admin
ADMIN_PASSWORD=ISMGBCommunication@224

# App
PORT=3000
NODE_ENV=production

FRONTEND_URL=https://ma-photo-ismgb.netlify.app
